@import "tailwindcss";
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.invisible {
  visibility: hidden;
}

.absolute {
  position: absolute;
}

.z-10 {
  z-index: 10;
}

.mb-4 {
  margin-bottom: 1rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.h-4 {
  height: 1rem;
}

.w-16 {
  width: 4rem;
}

.w-4 {
  width: 1rem;
}

.w-full {
  width: 100%;
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.divide-zinc-600 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(82 82 91 / var(--tw-divide-opacity));
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-zinc-600 {
  --tw-border-opacity: 1;
  border-color: rgb(82 82 91 / var(--tw-border-opacity));
}

.border-zinc-700 {
  --tw-border-opacity: 1;
  border-color: rgb(63 63 70 / var(--tw-border-opacity));
}

.bg-zinc-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}

.p-2 {
  padding: 0.5rem;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-medium {
  font-weight: 500;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-zinc-400 {
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity));
}

.placeholder-zinc-400::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(161 161 170 / var(--tw-placeholder-opacity));
}

.placeholder-zinc-400::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(161 161 170 / var(--tw-placeholder-opacity));
}

.opacity-0 {
  opacity: 0;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.hover\:bg-zinc-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(82 82 91 / var(--tw-bg-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

@media (min-width: 640px) {
  .sm\:ms-auto {
    margin-inline-start: auto;
  }

  .sm\:divide-x > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-right-width: calc(1px * var(--tw-divide-x-reverse));
    border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
  }

  .sm\:pe-4 {
    padding-inline-end: 1rem;
  }

  .sm\:ps-4 {
    padding-inline-start: 1rem;
  }
}

.rtl\:space-x-reverse:where([dir="rtl"], [dir="rtl"] *)
  > :not([hidden])
  ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

@media (min-width: 640px) {
  .sm\:rtl\:divide-x-reverse:where([dir="rtl"], [dir="rtl"] *)
    > :not([hidden])
    ~ :not([hidden]) {
    --tw-divide-x-reverse: 1;
  }
}

@font-face {
  font-family: "Sans-Regular";

  src: url(../src/fonts/Sans-Regular.ttf);
}

@font-face {
  font-family: "Sans-Medium";

  src: url(../src/fonts/Sans-Medium.ttf);
}

@font-face {
  font-family: "Sans-DemiBold";

  src: url(../src/fonts/Sans-DemiBold.ttf);
}

@font-face {
  font-family: "Sans-Bold";

  src: url(../src/fonts/Sans-Bold.ttf);
}

body {
  display: flex;
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
  font-family: Sans-Regular;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

body > * {
  padding: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

aside {
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  height: 100vh;
  width: 100px;
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-left-width: 1px;
  border-color: rgb(255 255 255 / 0.1);
}

aside > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

body main {
  height: 100vh;
  width: 100%;
}

.create-button {
  display: flex;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(39 39 42 / var(--tw-ring-opacity));
  transition-duration: 150ms;
}

.create-button:focus-within {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.modal-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(24 24 27 / 0.5);
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.modal {
  width: 600px;
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.modal > * {
  padding: 1rem;
}

.modal {
  header {
    display: flex;
  }
  header {
    align-items: center;
  }
  header {
    justify-content: space-between;
  }
  main {
    max-height: -moz-max-content;
    max-height: max-content;
  }
  main {
    text-align: justify;
  }
  main {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  main {
    font-weight: 300;
  }
  main {
    --tw-text-opacity: 1;
    color: rgb(228 228 231 / var(--tw-text-opacity));
  }
  footer {
    display: flex;
  }
  footer {
    align-items: center;
  }
  footer {
    justify-content: flex-end;
  }
  footer {
    gap: 0.5rem;
  }
  footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  footer > * {
    border-radius: 0.5rem;
  }
  footer > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  footer > * {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  footer > * {
    transition-duration: 150ms;
  }
  footer {
    button.close {
      --tw-text-opacity: 1;
      color: rgb(239 68 68 / var(--tw-text-opacity));
    }
    button.close {
      --tw-ring-color: rgb(239 68 68 / 0.4);
    }
    button.close:hover {
      background-color: rgb(239 68 68 / 0.1);
    }
    button.close:focus {
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
    }
    button.continue {
      --tw-bg-opacity: 1;
      background-color: rgb(0 111 238 / var(--tw-bg-opacity));
    }
    button.continue {
      --tw-ring-color: rgb(14 165 233 / 0.7);
    }
    button.continue:hover {
      --tw-bg-opacity: 1;
      background-color: rgb(56 189 248 / var(--tw-bg-opacity));
    }
    button.continue:focus {
      --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
      --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
      box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
    }
  }
}

.modal-screen.hidden {
  visibility: hidden;
  opacity: 0;
}

.input-card {
  position: relative;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgb(255 255 255 / 0.1);
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
  textarea {
    position: absolute;
  }
  textarea {
    top: 0px;
  }
  textarea {
    right: 0px;
  }
  textarea {
    height: 100%;
  }
  textarea {
    width: 100%;
  }
  textarea {
    background-color: transparent;
  }
  textarea {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  textarea {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  textarea {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.search-card {
  position: relative;
  display: flex;
  height: 2.5rem;
  width: 350px;
  align-items: center;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: rgb(255 255 255 / 0.1);
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: rgb(63 63 70 / 0.6);
  --tw-shadow: var(--tw-shadow-colored);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(5 150 105 / var(--tw-ring-opacity));
  transition-duration: 150ms;
}

.search-card:focus-within {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.search-card {
  input {
    position: absolute;
  }
  input {
    right: 0px;
  }
  input {
    top: 0px;
  }
  input {
    height: 100%;
  }
  input {
    width: 100%;
  }
  input {
    background-color: transparent;
  }
  input {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  input {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  button {
    position: absolute;
  }
  button {
    left: 0.5rem;
  }
  button {
    --tw-text-opacity: 1;
    color: rgb(161 161 170 / var(--tw-text-opacity));
  }
}

.container {
  section.content {
    margin-top: 2.5rem;
  }
  section.content {
    h1 {
      position: relative;
    }
    h1 {
      display: flex;
    }
    h1 {
      align-items: center;
    }
    h1 {
      padding-right: 1.75rem;
    }
    h1 {
      font-family: Sans-Bold;
    }
    h1 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    h1::before {
      content: "";
    }
    h1::before {
      position: absolute;
    }
    h1::before {
      right: 0px;
    }
    h1::before {
      height: 0.375rem;
    }
    h1::before {
      width: 1.25rem;
    }
    h1::before {
      border-radius: 0.25rem;
    }
    h1::before {
      --tw-bg-opacity: 1;
      background-color: rgb(13 148 136 / var(--tw-bg-opacity));
    }
  }
}

.notes-container {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.25rem;
}

.notes-container > * {
  display: flex;
  height: 240px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(255 255 255 / 0.4);
  padding: 0.75rem;
}

.colors-title {
  --tw-text-opacity: 1;
  color: rgb(113 113 122 / var(--tw-text-opacity));
}

.colors {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color-box {
  position: relative;
  display: flex;
  height: 1.75rem;
  width: 1.75rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(251 146 60 / var(--tw-bg-opacity));
  padding-top: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.color-box.selected {
  border-width: 1px;
}

.color-box.selected::before {
  content: "\2713";
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: Sans-Bold;
}

.note-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  max-height: -moz-max-content;
  max-height: max-content;
  text-align: justify;
}

.note {
  border-color: rgb(255 255 255 / 0.05);
  --tw-bg-opacity: 1;
  background-color: rgb(8 145 178 / var(--tw-bg-opacity));
  padding: 1rem;
  font-family: Sans-Medium;
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: rgb(161 161 170 / 0.2);
  --tw-shadow: var(--tw-shadow-colored);
  div {
    display: flex;
  }
  div {
    align-items: center;
  }
  div {
    justify-content: flex-end;
  }
  div {
    gap: 0.25rem;
  }
  div > * {
    border-radius: 0.25rem;
  }
  div > * {
    border-width: 1px;
  }
  div > * {
    border-color: rgb(255 255 255 / 0.1);
  }
  div > * {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  div > * {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
  div {
    .delete {
      --tw-bg-opacity: 1;
      background-color: rgb(39 39 42 / var(--tw-bg-opacity));
    }
    .delete {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .delete {
      --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
      --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .delete {
      --tw-shadow-color: rgb(161 161 170 / 0.25);
      --tw-shadow: var(--tw-shadow-colored);
    }
  }
}
